//-------Fonts-------
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lora&family=News+Cycle&family=Old+Standard+TT:wght@700&display=swap');

//-------Variables-------
$primary-font: 'Josefin Sans', sans-serif;
$header-font: 'Old Standard TT', serif;
$other-font: 'News Cycle', sans-serif;